name: Build & Push Flask Images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push BLUE image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:blue ./app
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:blue

      - name: Build & Push GREEN image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:green ./app
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/flask-app:green
